body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}

.menu {
    position: sticky;
    top: 0;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 1.5em;
}

.selected {
    font-style: italic;
}

.menu p{
    line-height: 24px;
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
}

.main_content{
    padding: 14px;
    max-width: 30vw;
    min-width: 375px;
    width: 100%;
    margin: 0 auto;
}

.profile_pic{
    margin: 0 auto;
    background-image: url(/img/emil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 446px;
    min-width: 360px;
    height: 100%;
    width: 100%;
}